<!-- -----------------------------navbar------------------------------------ -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- no agregar el encabezado porque ya lo contiene la navbar -->
<!-- -------------------fin navbar----------------------------- -->
    
    
<?php require 'navbar.php'; ?>


<section class="content mt-2">
    <div class="row m-auto ">
        <div class="col-sm">
            <div class="card rounded-2 border-0">
                <div class="card-header bg-dark text-white pb-0">
                    <h5 class="d-inline-block ">*Nombre del Apellido y Nombre del alumno*</h5>
                    <a class="btn btn-primary float-right mb-2" href="">(boton)</a>                    
                </div>
                <div class="card-body table-responsive">
                    
                                        



                </div>
                <div></div>
            </div> 
        </div>   
    </div>
</section>

<?php require 'footer.php'; ?>

<!-- --------------------footer---------------------------------------- -->    
<!-- no agregar el body y html porque ya lo contiene el require 'footer.php' -->
</body>
</html>
<!-- ----------------------fin footer---------------------------------- -->